{{ partial "header.html" . }}

<!-- Dit is de hoofdpagina -->
<p><strong><span style="color: rgb(226, 77, 0);"><span style="font-size: 14px;"><img alt="" src="/images/laptop_laptops_page.png" style="width: 483px; height: 312px; float: right;" /></span></span></strong></p>
<h1 style="text-align: center;">Ubuntu Desktop</h1>

<p><strong>Met gepaste trots presenteert de Nederlandse Ubuntu-gemeenschap het besturingssysteem Ubuntu. Ubuntu kan op elke computer worden geïnstalleerd en het installeren is makkelijk en verloopt snel. Wat heeft Ubuntu als voordelen ten opzichte van andere besturingssystemen?</strong></p>
<ul>
  <li>Het systeem is snel en wordt <em><strong>niet</strong></em> langzamer na verloop van tijd.</li>
  <li><em><strong>Veiligheid</strong></em> staat voorop, u heeft geen speciale veiligheidssoftware (zoals antivirus) nodig.</li>
  <li>Het systeem is <em><strong>eenvoudig</strong></em> in het gebruik, voor ieder soort computergebruiker&nbsp;- van beginner tot expert.</li>
  <li>Ubuntu heeft alle <em><strong>basissoftware</strong></em>&nbsp;aan boord die nodig is om direct aan de slag te kunnen, zoals Firefox-webbrowser, een officepakket, een muziekspeler en meer.</li>
  <li>Het systeem is volledig vrij en <em><strong>volledig gratis</strong></em> en dat zal het ook altijd blijven. U kunt Ubuntu dus zo vaak installeren als&nbsp;u&nbsp;wilt, op zowel uw eigen computer als die van een ander.</li>
  <li>Ubuntu bevat&nbsp;<strong><em>geen&nbsp;</em></strong>reclame of ongewenste (probeer)software en stuurt geen&nbsp;privégegevens door naar de makers ervan; uw privacy is dus gewaarborgd.</li>
</ul>

<p><em><strong>Benieuwd hoe Ubuntu eruit ziet en wat u er standaard mee kunt doen?</strong></em></p>
<div class="button"><p><a href="http://ubuntu-nl.org/ubuntu/desktop">Klik hier om een tour door Ubuntu te volgen!</a>

{{ partial "footer.html" . }}
