{{ partial "header.html" . }}

<!-- Dit is de hoofdpagina -->
<h1>Ubuntu Desktop</h1>

<p>Met gepaste trots presenteert de Nederlandse Ubuntu-gemeenschap het besturingssysteem Ubuntu.
Ubuntu kan op elke computer worden geïnstalleerd en het installeren is makkelijk en verloopt snel.
Wat heeft Ubuntu als voordelen ten opzichte van andere besturingssystemen?</p>

<ul>
  <li>Het systeem is snel en wordt niet langzamer na verloop van tijd.</li>
  <li>Veiligheid staat voorop, u heeft geen speciale veiligheidssoftware (zoals antivirus) nodig.</li>
  <li>Het systeem is eenvoudig in het gebruik, voor ieder soort computergebruiker - van beginner tot expert.</li>
  <li>Ubuntu heeft alle basissoftware aan boord die nodig is om direct aan de slag te kunnen, zoals Firefox-webbrowser, een officepakket, een muziekspeler en meer.</li>
  <li>Het systeem is volledig vrij en volledig gratis en dat zal het ook altijd blijven. U kunt Ubuntu dus zo vaak installeren als u wilt, op zowel uw eigen computer als die van een ander.</li>
  <li>Ubuntu bevat geen reclame of ongewenste (probeer)software en stuurt geen privégegevens door naar de makers ervan; uw privacy is dus gewaarborgd.</li>
</ul>

<p>Benieuwd hoe Ubuntu eruit ziet en wat u er standaard mee kunt doen?</p>
<p><a href="http://ubuntu-nl.org/ubuntu/desktop">Klik hier om een tour door Ubuntu te volgen!</a></p>

{{ partial "footer.html" . }}
