<!-- https://wiki.ubuntu.com/LoCoTeamPortal/API -->
<table>
  <tr>
    <th> Vergaderingen </th>
    <th> Datum </th>
    <th> Plaats </th>
    <th> Notulen </th>
  </tr>
{{ $data := getJSON "http://loco.ubuntu.com/services/meeting/" "?teams=81" }}
{{ range sort $data "id" "desc" }}
  {{ $entry := . }}
    <tr>
      <td><a href="http://loco.ubuntu.com/meetings/ubuntu-nl/{{ $entry.id }}/detail/" target="_blank">{{ $entry.name}}</a></td>
      <td>{{ $entry.date_begin }}</td>
      <td>{{ $entry.channel }}</td>
      <td>{{ with $entry.minutes }} <a href="{{ . }}" target="_blank">notulen</a> {{ end }}</td>
    </tr>
{{ end }}
</table>
