{{ if eq ($.Scratch.Get "tabbedpage") "true" }}
</div>
</div>
{{end}}


  </div>        </div>
      </div>
    </div>
    <!-- Footer -->
          <div id="footer">
        <div class="container" style="width: 980px;">
          <div class="block"><h2>Legal Disclaimer</h2> &copy; 2010 Canonical Ltd. Ubuntu and Canonical are registered trademarks of Canonical Ltd. </div>
          <div class="block"><h2>Content license</h2> <a href="/node/100">Images</a> <a href="/node/101">texts</a> </div>
          <div class="block"><h2>More Ubuntu</h2><a href="http://ubuntu.com/getubuntu/download/">Get Ubuntu</a> <a href="http://brainstorm.ubuntu.com/">Ubuntu Brainstorm</a> <a href="http://ubuntuforums.org/">Ubuntu Forums</a> <a href="http://spreadubuntu.neomenlo.org/">Spread Ubuntu</a> </div>
        </div>
      </div>
  <div id="hostinglogos">
    hosting:
    <a target="_blank" href="https://www.hcc.nl/">
      <img src="/images/hcc.png" alt="hcc! logo" /></a>
    <a target="_blank" href="https://www.bit.nl/extern1/">
      <img src="/images/bit.png" alt="Bit logo" /></a>
  </div>
</body>
</html>
