{{ $currentNode := . }}
{{ if eq ($.Scratch.Get "tabbedpage") "true" }}
  {{if .IsHome }}
    {{/* FIXME Doe niks. Heel stom maar er lijkt geen IF NOT te zijn. */}}
  {{else}}
  <h2><a href="" title=""></a></h2>
  <div id="tabbed-page-wrapper"
    style="min-height: 800px; background-color:  ">
    <ul id="tabbed-page-tabs">
      {{ range .Site.Menus.mainnav }}
      {{ if $currentNode.HasMenuCurrent "mainnav" . }}
        {{ range .Children }}
        {{ if or ($currentNode.IsMenuCurrent "mainnav" .) ($currentNode.HasMenuCurrent "mainnav" .) }}
          {{ $len := len .Children }}
          {{ range .Children }} {{/* We moeten de kinderen van de kinderen hebben */}}
          <li class="tabbed-page-tab {{ if or ($currentNode.IsMenuCurrent "mainnav" .) ($currentNode.HasMenuCurrent "mainnav" .) }}tabbed-page-tab-active{{end}}" style="background-color: ; width: {{div 100.0 $len}}%;">
          <a href="{{.URL}}" {{ if or ($currentNode.IsMenuCurrent "mainnav" .) ($currentNode.HasMenuCurrent "mainnav" .) }}class="active"{{end}}>{{.Name}}</a></li>
        {{end}}{{end}}{{end}}
      {{end}}
      {{end}}
    </ul>
    <div id="tabbed-page-content">
  {{end}}
{{end}}
