#tabbed-page-wrapper {
    border-top: 1px solid #CCCCCC;
    background-color: #EFEFEF;
}

#tabbed-page-tabs {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.tabbed-page-tab {
    display: block;
    float: left;
    line-height: 2em;
    width: 14.285714285714%; // deze moet in de html style="width:" met berekening
}

.tabbed-page-tab:hover a {
    background-image: url("/images/shadow.png");
}

.tabbed-page-tab a {
    display: block;
    float: left;
    width: 100%;
    text-align: center;
    color: #333333;
}

.tabbed-page-tab-active {
    background-color: #DD4814;
}

.tabbed-page-tab-active:hover a {
    background-image: url("/images/shadow.png");
}

#content .tabbed-page-tab-active a {
    color: #ffffff;
}

#tabbed-page-content {
    clear: both;
    padding: 10px 20px;
}

#tabbed-page-content p{
    color: #505050;
}
